@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Inicio */

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}
h6{
    color: #D8D8D8;
}

/* Navbar */

.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar i.active,
.navbar-light .navbar-nav .nav-link.active{
  color: coral;
}
.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

/* Home */

.texto-resaltado{
    color: coral;
}
.boton1{
    font-size: 0.8rem;
    font-size: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}
#home{
    background-image: url("./img/back.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/* Secciion banners */
#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3 ease;
}
#new .one:hover .details{
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.7);
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* Productos */
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
hr{
    width: 30px;
    height: 2px;
    background-color: #fb774b;
}
.star{
    padding: 10px 0;
}
.star i{
    font-size: 0.8rem;
    color: goldenrod;
}
.product img{
    transition: 0.3s all;
}
.product:hover img{
    opacity: 0.7;
}
/* Banner */
#banner{
    background-image: url("./img/banner/2.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner h4{
    color: #D8D8D8;
}
#banner h1{
    color: #D8D8D8;
}
/* Banner */
#banner1{
    background-image: url("./img/banner/parallax.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner1 h4{
    color: #0c0c0c;
}
#banner1 h1{
    color: #070707;
}
/* Banner */
#banner2{
    background-image: url("./img/banner/1.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner2 h4{
    color: #f3f2f2;
}
#banner2 h1{
    color: #f7f1f1;
}
#banner2 h2{
    color: #f7f1f1;
}
footer{
    background-color: #222222;
}
footer h5{
    color:#D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}
footer li{
    padding-bottom: 4px;
}
footer li a{
    font-size: 0.8rem;
    color: #999;
}
footer li a:hover{
    color: #D8D8D8;
}
footer p{
    color: #999;
    font-size: 1rem;
}
/* Responsive */
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
}
#bar:hover,
#bar.active{
    color: #fff;
}
@media only screen and(max-width:991px){
    body>nav>div>button:hover,
    body>nav>div>button:focus{
        background-color: #fb774b;
    }
    body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar{
        color: #fff;
    }
    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        text-align: right;
    }
    #navSupportedContent > ul>li:nth-child(n)>a{
        padding: 10px 0;
    }
}